@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" align="center" justify-content="center">
    <h1>WRONG PASSWORD/USERNAME</h1>
    <a class="btn btn-primary" style="width:auto" asp-area="" asp-controller="HospitalService" asp-action="Login"><h1>Try Again</h1></a>

</div>
