<head>
    <style>
        body {
            background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch10-aum-09_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2ea364c9b5eb896ff3e715506f217a45");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <br />

    <div class="container" align="center" justify-content="center">      
        <img src="https://fontmeme.com/permalink/211128/6659195fe971dcf60e4f7a4cc8525098.png" alt="3d-fonts" border="0">
    </div>
    <br />





    <div class="container" align="center" justify-content="center">
        <div class="card-columns d-flex justify-content-center">
            <div class="card-transparent">
                <div class="card-block">
                    <img class="card-img-top" style="width:300px" src="https://cdn-icons-png.flaticon.com/512/2790/2790763.png" alt="Card image cap">                   
                    <a class="btn btn-primary" style="width:auto" asp-area="" asp-controller="ClientService" asp-action="Index"><h1>Enter as Client</h1></a>
                    <br />
                    <br />
                </div>
            </div>
            <div class="card-transparent">
                <div class="card-block">
                    <img class="card-img-top" style="width:300px" src="https://cdn-icons-png.flaticon.com/512/2790/2790691.png" alt="Card image cap">                   
                    <a class="btn btn-primary" style="width:auto" asp-area="" asp-controller="HospitalService" asp-action="Login"><h1>Log In as Hospital</h1></a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="text-center">

 

        <div class="container" align="center" justify-content="center">
            <div class="card-columns d-flex justify-content-center">

                <div class="card-transparent" style="width: 16rem;">
                    <img class="card-img-top" style="width:150px" src="https://cdn-icons.flaticon.com/png/512/4327/premium/4327875.png?token=exp=1638031305~hmac=f7d7ad19dea86add9133a928df2fc58a" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Inclusive</h5>
                        <p class="card-text">All clients are entitled to have any sickness checked.</p>
                    </div>
                </div>

                <div class="card-transparent" style="width: 16rem;">
                    <img class="card-img-top" style="width:150px" src="https://cdn-icons.flaticon.com/png/512/4327/premium/4327868.png?token=exp=1638031386~hmac=3754bff961a64311568272dfc32e4fd5" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Competent</h5>
                        <p class="card-text">Professional service for all registered clients.</p>
                    </div>
                </div>

                <div class="card-transparent" style="width: 16rem;">
                    <img class="card-img-top" style="width:150px" src="https://cdn-icons.flaticon.com/png/512/4327/premium/4327842.png?token=exp=1638031337~hmac=2c081d88d94f7b7fa909fb9c035fa6cd" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Simple</h5>
                        <p class="card-text">Navigate through the application without any hassle.</p>
                    </div>
                </div>



                <div class="card-transparent" style="width: 16rem;">
                    <img class="card-img-top" style="width:150px" src="https://cdn-icons.flaticon.com/png/512/4327/premium/4327881.png?token=exp=1638031412~hmac=704214ad76ef6425cea7e958e9c29203" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Convenient</h5>
                        <p class="card-text">Appointments are easy to book with the doctor of your choice.</p>
                    </div>
                </div>

            </div>
        </div>

     </div>

</body>

